* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: hsla(266, 100%, 50%, 1);
  --color2: hsla(40, 100%, 70%, 1);
  --color3: hsla(217, 100%, 50%, 1);
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(84, 121, 140);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(44, 27, 90) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-header {
  padding: 2rem;
  min-height: 10rem;

  overflow: hidden;

}

.home {
  text-decoration: none;
  animation: show-title 2s ease;

}

@keyframes show-title {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
  
}

.pagetitle {
  font-family: "Unbounded", cursive;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color2);
}

.container {
  width: min(100% - 2rem, 40em);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-m {
  gap: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-section {
  border-radius: 15px;
  background: white;
  padding: 1rem;

  
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  filter: drop-shadow(0px 0px 10px rgba(67, 30, 67, 0.5));
}



.display-none {
  display: none;
}

.author {
  text-align: center;
}

.stars {
  text-align: center;
}

/* Button */

.btn-1 {
  font-size: 1.1rem;
  font-kerning: none;
  letter-spacing: 1px;
  color: black;
  background: var(--color2);
  transition: 300ms ease;
}

.btn-1:hover {
  letter-spacing: 3px;
  background: #2f8fff;
}

.btn-1:active {
  transform: rotate(180deg);
  background: rgb(37, 196, 37);
}

.btn-prop {
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border: 0px;
}

/*Emoji*/

.fa-face-grin-tears {
  color: red;
  font-size: 1.5rem;
  padding: 0.2rem;
}
